h1 {
  color: blueviolet;
  margin-left: 150px;
}
table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td,th {
  width: 250px;
  height: 50px;
  padding-left: 20px;
}
input {
  width: 180px;
}
input[type="radio"],input[type="checkbox"] {
  width: 20px;
}
textarea {
  margin: 15px 5px;
}
button {
  width: 100px;
  height: 30px;
  margin: 30px 230px;
  background-color: rgb(78, 129, 78);
}